
{{>header}}
<div class="container">
  <h2>{{name}} form</h2>
  <form class="form-inline">
    <div class="form-group">
      <label for="email">Address:</label>
      <input type="text" class="form-control" id="address" placeholder="Enter Address" name="address">
    </div>
    <button class="btn btn-success">Submit</button>
  </form>
<p></p>
<div class="container-sm" id='msg-1'></div>
<div class="container-md" id='msg-2'></div>
</div>
{{>footer}}

<script src="./js/weather.js"></script>
